@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');

.nav {
    background: rgb(248, 248, 248);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.name {
    padding-right: 660px;
    font-size: 25px;
    
}

.name:hover {
    color:rgba(0, 0, 0, 0.649);
}

.nav nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav nav ul li {
    display: inline-block;
    margin: 20px;
}

.nav nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav a:hover {
    color:rgba(0, 0, 0, 0.649);
}